
*{
    padding: 0px;
    margin: 0px;
}

.box{

    border-radius: 20px;
    margin-left: 65vh;
    margin-top: 25vh;
    padding: 20px;
    display: inline-block;
    border: 1px solid white;
    background-color: black;
    color: whitesmoke;
}

#title{

    display: block;
    padding: 5px;
    margin: 5px;
    font-family: monospace;
    font-size:45px;
}

#btn{

    background-color: #4CAF50; 
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;   
    margin-left: 26vh;
    margin-top: 2.5vh;
    
}

#btn:hover{
    background-color: white;
    color: black;
    
}